@model uApply.Utils.ViewModels.TownViewModel
@{

    var title = Model.Town.Id == 0 ? "Add" : "Update";
}

<div class="card shadow m-5">

    <div class="card-header">
           <p class="text-center text-dark m-0 font-weight-bold">Add Town</p>
    </div>
    <div class="card-body">
        <form method="post">

            <input hidden asp-for="Town.Id" />

            <div class="form-row mb-3">                    
                <div class="col-5">
                    <label asp-for="Town.Name" class="text-muted"></label>
                </div>
                 <div class="col-7">
                    <input asp-for="Town.Name" type="text" class="form-control" />
                </div>

            </div>
        
            <div class="form-row mb-3">                    
                <div class="col-5">
                    <label asp-for="District" class="text-muted"></label>
                </div>
                 <div class="col-7">
                    @Html.DropDownListFor( c => c.District.Id, Model.Districts, "-- Select District --",
                                    new {@class = "form-control"})
                </div>

            </div>
        
            <div class="form-row">
                <button type="submit" class="btn btn-dark btn-block text-white">@title</button>

            </div>     
    </form>    

    </div>
</div>
    